# If editing dependencies, make sure to update pyproject.toml as well
colorlog
pandas
scipy
numpy
matplotlib
pyyaml

reportlab>=3.6.12
pdfrw
playwright

#development tools, do not add to pyproject.toml
flake8
black
jupyterlab
